*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

.main{
    top: 0;
    background-image: url("assets/img/bg_img.jpg");
    height: 95vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    /* padding-bottom: 10px; */
    
}

main .box{
    color: white;
    height: 95vh;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0;
}
nav{


    padding-top: 15px;
    max-width: 60vw;
    margin: auto;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   height: 62px;
   
}

nav img{
    height: 100px;
    color:red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    color:red;
    width: 114px;
    position: relative;
    z-index: 10;
    height: 32px;
}
.heading{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 20px   ;
    padding: 30px;
    padding-bottom: 30px;
}

.heading h1{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.heading p{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.heading h3{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font: size 20px;
    text-align: center;
}

/* .SignIn *{
    border: white solid;
    background-color: black;
    opacity: 0.2;
    height: 52px;
} */

.separation{
height: 8px;
background-color: grey;
opacity: 0.3;
}

.btn{
    border:  white 0.5px solid;

    color: white;
    background-color: rgb(23,23,23,0.5);
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    font-weight:400;
    font-size: 16px;
    padding: 3px 7px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn-red-sem{
    
    color: white;
    background-color: red;
    border: none;
    /* width: fit-content; */

}
.main input{
    /* text-align: right; */
    height: 50px;
    border:  white 0.5px solid;
    border-radius: 5px;
    background-color: rgb(23,23,23,0.5);
    /* font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif; */
    font-weight:bold;
    font-size: 16px;
    padding: 3px 98px;
    padding-left: 10px; 
    color: rgba(186, 177, 177, 0.5)  
}
.btn-red{
    text-align: center;
    font-size: 24px;
    font-weight:bolder;
    padding: 10px 14px 49px 14px;;
    height: 50px;
    color: white;
    background-color: red;
    border: none;
}
.SignIn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box2{
    /* border: rgb(255, 255, 255) 2px solid; */
    height: 80vh;
    background-color: rgb(0, 0, 0);  
    display: flex;
    align-items: center;
    justify-content: center;
}
.text1{
    color: white;
    
}
.text1 h1{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 48px;
    padding-bottom: 20px;
}
.text1 p{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 24px;
    /* padding-bottom: 20px; */
}
.screen1{
    position: relative;
    margin-left: 20px;
}
.screen1 img{
    position: relative;
    /* width: 30vw; */
    z-index: 10;
}
.screen1 video{
    /* width: 30vw; */
    position: absolute;
    top: 97px;
    right: 83px;
}

video{
    position: relative;
    z-index: 1;
}


.box3{
    /* border: rgb(255, 255, 255) 2px solid; */
    height: 80vh;
    background-color: rgb(0, 0, 0);  
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box-cartoon{
    /* border: rgb(255, 255, 255) 2px solid; */
    height: 80vh;
    background-color: rgb(0, 0, 0);  
    display: flex;
    align-items: center;
    justify-content: center;
    
}